alert-view .list {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

single-message {
    padding: 1rem;
    background-color: $secondary-background-color;
    border-radius: 10px;
    height: 200px;
    overflow: scroll;
}

single-message h4 {
    font-weight: 600;
}

.description {
    margin-top: 1rem;
    font-size: 0.875rem;
    opacity: 0.8;
}

.update {
    margin: 1rem 0;
    font-size: 0.7rem;
    opacity: 0.8;
    font-weight: 600;
}
